<div class="row">
    <div class="col-lg-12">
        <h2>About FlexE</h2>
        <p id="about-flexe">
            FlexE is based on a simple elastic network model and uses the deformation energy as a measure of the similarity between two protein structures. FlexE incorporates the concept of thermal energy, which provides a rational way to determine when two models are “the same”. FlexE provides a unique measure of the similarity between protein structures that is complementary to existing methods. For further details, see our JCTC article, <a href="http://pubs.acs.org/doi/abs/10.1021/ct300148f?journalCode=jctcce" target="_blank">FlexE: Using Elastic Network Models to Compare Models of Protein Structure</a>.
        </p>
    </div>
</div>
