<div class="row">
    <div class="col-lg-12">
        <h2>About NetAvg</h2>
        <p id="about">
            NetAvg is a tool for selecting one structure to represent an ensemble of conformations. We find that NetAvg provides better representations of conformational ensembles, which can be more directly compared with structures from X-ray crystallography. It represents an improvement over the standard practice of clustering and selecting the structure closest to the center of the most populated cluster. For further details, see our Proteins article, <a href="http://onlinelibrary.wiley.com/doi/10.1002/prot.24633/abstract" target="_blank">Extracting representative structures from protein conformational ensembles</a>.
        </p>
    </div>
</div>
