<div class="row" id="contact">
    <div class="col-lg-12">
        <h2>Contact Information</h2>
        <h4>General questions about FlexE:</h4>
        <ul>
            <li>Alberto Perez</li>
            <!-- <li><img src="images/alberto_email.png"></img><li> -->
            <li>aperez@gmail.com</li>
        </ul>

        <h4>FlexE-web technical support:</h4>
        <ul>
            <li>Geoff Rollins</li>
            <!-- <li><img src="images/geoff_email.png"></img><li> -->
            <li>grollins@gmail.com</li>
        </ul>
    </div>
</div>
