<div class="container" id="job-details">
    <div class="row">
        <div class="col-lg-12">
            <a href="#/home"><span class="glyphicon glyphicon-arrow-left"></span>Back to Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="job-details-header">
            <ul>
                <li>{{jobData.title}}</li>
                <li>{{jobData.status}}</li>
            </ul>
        </div>
    </div>
    <div class="row" ng-show="jobDone">
        <div class="col-lg-12" id="job-details-results">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>RMSD (Å)</th>
                        <th>∆E Ref &#10175; PDB (kcal/mol/residue)</th>
                        <th>∆E PDB &#10175; Ref (kcal/mol/residue)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in results">
                        <td>{{r.name}}</td>
                        <td>{{r.rmsd | number:2}}
                        <td>{{r.energy_ref_to_pdb | number:2}}</td>
                        <td>{{r.energy_pdb_to_ref | number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="job-details-buttons">
            <button class="btn btn-primary" type="button" ng-click="refreshJob()">Refresh</button>
            <button class="btn btn-primary" type="button" ng-click="exportCSV()">Export to CSV</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="deleteJob()">Delete</button>
        </div>
    </div>
</div>
